<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>735689821135-tjbid65510t2qbhe0ap5qulbj45vkpmp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.735689821135-tjbid65510t2qbhe0ap5qulbj45vkpmp</string>
	<key>API_KEY</key>
	<string>AIzaSyDdzIP5-RL7FcCAPRevN2ErYCy5LkES9Dc</string>
	<key>GCM_SENDER_ID</key>
	<string>735689821135</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Nik.Rick-And-Morty-2</string>
	<key>PROJECT_ID</key>
	<string>rick-and-morty-2-b08f4</string>
	<key>STORAGE_BUCKET</key>
	<string>rick-and-morty-2-b08f4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:735689821135:ios:1e10962b69688fe3cde0ba</string>
</dict>
</plist>